<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg
			a.navbar-brand(href="#") 
				img(src="./img/logo.png", alt="Logo")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href="index.html") 
							|about us
					li.nav-item
						a.nav-link(href="about.html") all products
					li.nav-item
						a.nav-link(href="about.html") best seller
					li.nav-item
						a.nav-link(href="about.html") events
					li.nav-item
						a.nav-link(href="about.html") photo review
					li.nav-item
						a.nav-link(href="about.html") contact us
<!-- ////////////// HEADER ////////////// -->
